@use "reset" as *;

@use "setting" as *;

.archiveBody {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px 40px 10px;
}
// タイトル
.archive__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.postWrap {
  margin: 0 auto;
  max-width: 1080px;

  &__flex {
    display: flex;
    flex-wrap: wrap;

    @include mq(s) {
        display: block;
        text-align: center;
    }
    @include mq(m) {
        justify-content: space-around;
    }
  }
}

// Each Post box
.PostBox {
  margin: 20px 0;
  width: 33%;

  @include mq(s) {
    width:100%;
    margin: 30px 0;
}
  @include mq(m) {
    width: 48%;
}

  img {
    height: 200px;
    width: 300px;

    @include mq(s) {
        width: 100%;
        height: 280px;
    }
      @include mq(m) {
        width: 100%;
        height: 180px;
    }
  }
}

// Post info wrap
.news_meta {
  margin: 10px 0;
  max-width: 300px;

  @include mq(s) {
    max-width: 100%;
    margin: 20px 0;
    text-align: start;
}
  @include mq(m) {

}
}
.news_time {
  margin: 8px 0;
  display: inline-block;
}

.news_title {
    a {
      font-weight: 800;
        color: rgb(34, 34, 34) ;
        text-decoration: none;
    }
}

.news_desc {
  margin-top: 12px;
}
